<li class="list-group-item list-group-item-action active">Course List</li>
<ul class="list-group">
  <li *ngFor="let course of courses" class="list-group-item d-flex justify-content-between align-items-center">
    {{course}}
    <span class="badge badge-primary badge-pill">Rs1000</span>
  </li>
</ul>

<!-- <div class="text-center">
  <img [src]="imageUrl" class="rounded" alt="...">
</div> -->

<button class="btn btn-primary" (click)="onSave($event)">Save</button>

<input [(ngModel)]="email" (keyup.enter)="onKeyUp()">

<p>{{text | summary}}</p>