<!-- <h1>welcome to travelblog!!</h1> -->

<div data-fullwidthvideo="https://www.youtube.com/embed/PksJyysA9F0?autoplay=1&amp;
controls=0&amp;modestbranding=1&amp;loop=1&amp;mute=1&amp;
enablejsapi=1&amp;origin=https://theworldtravelguy.com&amp;widgetid=1" 
data-mutevideo="mute" data-unloopvideo="loop"
 class="themify_builder_row module_row clearfix fullcover fullheight module_row_0 themify_builder_54_row module_row_54-0 hide-mobile">

 <div class="themify_ytb_wrapper big-video-wrap" id="wrapper_themify_ytb_54_0">
     <div class="themify_ytb_playerbox" id="themify_ytb_54_0">
         <iframe frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
         
         src="https://www.youtube.com/embed/PksJyysA9F0?modestbranding=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;disablekb&amp;fs=0&amp;loop=1&amp;enablejsapi=1&amp;version=3&amp;playerapiid=themify_ytb_54_0&amp;origin=https%3A%2F%2Ftheworldtravelguy.com&amp;allowfullscreen=false&amp;wmode=transparent&amp;iv_load_policy=3&amp;html5=1&amp;widgetid=1" id="widget2" unselectable="on"
          style="width: 100%; height: 750px; margin-top: 0px; ">
        </iframe>
        </div>
    </div>
<div class="builder_row_cover "></div> <div class="row_inner">
<div class="tb-column col-full module_column tb_54_column module_column_0 module_column_54-0-0 last">
<div class="tb-column-inner">

<div id="text-54-0-0-0" class="module module-text text-54-0-0-0  repeat ">
<h1 style="text-align: center;"><strong>EXPLORE. DREAM. DISCOVER.</strong></h1>
<h2 style="text-align: center;">This is a  travel blog featuring beautiful destinations, new experiences, and hidden places around the world.</h2>
<!-- <h2 style="text-align: center;">Please tag along!</h2></div> -->


<div id="buttons-54-0-0-1" class="module module-buttons buttons-54-0-0-1  ">
<div class="module-buttons normal outline">
<div class="module-buttons-item  buttons-horizontal">
<a  class="ui builder_button"><span>Start Exploring</span></a> </div>
</div>
</div>

</div>
</div>

</div>

</div>